@font-face {font-family: "IBMPlexMono-Bold";src: url('../fonts/IBMPlexMono-Bold.ttf');}
@font-face {font-family: "IBMPlexMono-Light";src: url('../fonts/IBMPlexMono-Light.ttf');}
@font-face {font-family: "IBMPlexMono-Regular";src: url('../fonts/IBMPlexMono-Regular.ttf');}
@font-face {font-family: "Rodger-Black";src: url('../fonts/Rodger-Black.otf');}
@font-face {font-family: "Monswest-Regular";src: url('../fonts/Mondwest-Regular.otf');}
@font-face {font-family: "Monswest-Bold";src: url('../fonts/Mondwest-Bold.otf');}
:root {
    /* Cores */
    --primary: #F49AC2;
    --hover: #FFE3F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #DCDDDE;
    /* Fontes  */
    --ibmplex_regular: "IBMPlexMono-Regular";
    --ibmplex_bold: "IBMPlexMono-Bold";
    --ibmplex_light: "IBMPlexMono-Light";
    --rodger: "Rodger-Black";
    --mondwest_regular: "Monswest-Regular";
    --mondwest_bold: "Monswest-Bold";
    /* Tamanhos de fontes  */
    --title: 60px;
    --text: 11px;
    --depo: 16px;
    --logos: 13px;
    --footer: 12px;
    --shop-text: 17px;
    --footer_title: 39px;
    /* Transições: */
	--slow: all 0.5s;
	--fast: all 0.3s;
    /* Espaçamentos */
	--height-text: 1.1;
    --height-depo: 1.6;
    --medium-height: 25px;
    --margin_logos: 50px;
    /* borda  */
    --border-bottom: 5px solid var(--gray);
}
body {
    background-color: var(--white);
    padding: 0px;
    margin: 0px;
}
body * {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
p {
    font-family: var(--ibmplex_light);
    line-height: var(--height-text);
}
.border {
    border-bottom: var(--border-bottom);
    padding-bottom: 36px;
}
header {
    background-color: var(--primary);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.arrow_header {
    padding: 1rem;
    width: 90px;
    transform-origin: 50% 50%;
}
@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}
.down {
    -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
}
.header_container {
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.header_container img {
    width: 400px;
}
.display_content {
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1010px;
    margin: 0px auto;
}
.container h2 {
    font-family: var(--rodger);
    font-size: var(--title);
    color: var(--primary);
    margin: 0 auto;
}
.home_page {
    padding-top: 195px;
}
.home_page h2 {
    font-size: var(--title);
    color: var(--primary);
    font-family: var(--rodger);
    margin: 0 auto;
    margin-bottom: 40px;
}
.home_page_wrap {
    display: flex;
}
.home_page_text {
    display: flex;
    flex-direction: column;
    font-size: var(--text);
    max-width: 500px;
    margin-left: 100px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}
.about_page {
    display: flex;
}
.about_page h2 {
    margin-top: 70px;
    margin-bottom: 46px;
}
.about_page img {
    width: 400px;
}
.about_page figure {
    padding-top: 48px;
    margin: 0 auto;
    margin-bottom: 42px;
}
.about_text {
    margin-right: 50px;
    font-size: var(--text);
    text-align: justify;
}
figcaption {
    font-family: var(--ibmplex_light);
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 15px;
}
.video_page {
    margin-top: -105px;
}
.video_page h2 {
    margin-bottom: 42px;
}
.video-carousel video{ 
    max-width: 100%;
    width: 100%;
}
.video-carousel .swiper {
    overflow: initial;
}
.video-carousel .swiper-slide .video {
    width: 100%;
    margin: auto;
    height: 100%;
    opacity: 50%;
    padding-bottom: 35%;
}
.video-carousel .swiper-slide .video iframe {
    position: absolute;
}
.ytp-large-play-button svg {
    opacity: 0 !important;
}
.video-carousel .swiper-slide.swiper-slide-active video {
    width: 100%;
}
.video-carousel .swiper-slide.swiper-slide-active .video {
    opacity: 100%;
    width: 1010px;
    position: relative;
    padding-bottom: 40%;
}
.swiper-wrapper {
    align-items: center;
}
.video-carousel .swiper-button-next , .video-carousel .swiper-button-prev{
    width: 16%;
    height: 77%;
    top: 95px;
    opacity: 0%;
}
.video-carousel .swiper-button-next  {
    right: 0px;
}
.video-carousel .swiper-button-prev {
    left: 0px;
}
.video-carousel .swiper-button-next.swiper-button-disabled, 
.video-carousel .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}
.video_play {
    display: table;
    position: relative;
}
.expo_page .video_play iframe {
    width: 1005px;
    height: 500px;
}
.playpause {
    background-image:url("../images/icon-play-default.svg");
    background-repeat:no-repeat;
    width:100%;
    height: 85px;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
    transition: var(--slow);
    cursor: pointer;
}
.playpause:hover {
    background-image: url("../images/icon-play-hover.svg");
}
.depo_page h2{ 
    text-align: center;
    margin-top: 56px;
    margin-bottom: 50px;
}
.depo {
    border: 1px solid var(--primary);
    padding: 50px;
}
.depo p {
    text-align: justify;
    font-size: var(--depo);
    line-height: var(--height-depo);
}
.depo_page .swiper {
    overflow: initial;
}
.depo_page .swiper-slide.swiper-slide-active .depo{
    width: 80%;
    opacity: 100%;
    margin: auto;
}
.depo_page .swiper-slide {
    width: 50%;
}
.depo_page .swiper-slide .depo { 
    width: 100%;
    opacity: 50%;
    margin: auto;
}
.depo_page .swiper-button-next , .depo_page .swiper-button-prev{
    width: 25%;
    height: 90%;
    top: 47px;
    opacity: 0%;
}
.expo_page video {
    width: 100%;
}
.expo_page h2{
    text-align: center;
    margin-top: 56px;
    margin-bottom: 42px;
} 
.expo_page .border {
    padding-bottom: 50px;
}
.shop-page h2 {
    text-align: center;
    margin-top: 56px;
    margin-bottom: 42px;
}
.shop-page h4 {
    font-family: var(--ibmplex_bold);
    font-size: var(--shop-text);
    line-height: var(--medium-height);
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.shop-swiper {
    margin-bottom: 100px;
}
.shop-page .shop-card {
    width: 100%;
    transition: var(--slow);
}
.shop-page .shop-card .shop-img img {
    width: 100%;
}
.shop-page .shop-card .shop-link {
    width: 100%;
    background-color: var(--primary);
    padding: 10px 0px;
    display: block;
    transition: var(--slow);
    text-decoration: none;
}
.shop-page .shop-card .shop-link div {
    font-family: var(--ibmplex_bold);
    font-size: var(--foote);
    line-height: var(--medium-height);
    color: var(--white);
    background-image: url('../images/external-link-white.svg');
    background-repeat: no-repeat;
    background-size: 13px;
    padding-right: 35px;
    background-position-x: 100%;
    width: 90px;
    display: block;
    margin: auto;
    background-position-y: center;
    text-align: center;
    transition: var(--slow);
}
.logo_page h4 {
    font-family: var(--ibmplex_bold);
    font-size: var(--logos);
    margin-top: 58px;
    margin-bottom: 112px;
}
.logo_page img {
    width: 130px;
}
.logo_page .border {
    padding-bottom: 64px;
}
.logo_flex {
    display: flex;
    justify-content: space-between;
}
.apoio {
    display: flex;
    flex-direction: column;
}
.logos_apoio {
    display: flex;
    flex-wrap: wrap;
    max-width: 760px;
}
.logos_apoio * {
    margin: var(--margin_logos);
}
.logos_patro {
    display: flex;
    flex-direction: column;
}
.logos_patro * {
    margin: var(--margin_logos);
    width: 200px !important;
}
.logos_real img {
    margin: var(--margin_logos);
}
.footer_page {
    padding: 110px 4rem 60px 4rem;
    position: relative;
}
.footer_page .container {
    z-index: 10;
    position: relative;
}
.footer_page::after {
    content: '';
    background-image: url("../images/logos-vista/vista-art-symbol-bg-footer.svg");
    background-repeat: no-repeat;
    filter: brightness(0.5);
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.footer_page h2 {
    font-size: var(--footer_title);
    font-family: var(--mondwest_regular);
    margin: 0 auto;
    margin-bottom: 25px;
    color: var(--black);
}
.footer_page p {
    font-size: var(--footer);
}
.footer_wrap {
    display: flex;
    justify-content:space-between;
}
.footer_text {
    display: flex;
    margin-top: 68px;
    margin-bottom: 50px;
    font-family: var(--ibmplex_regular);
}
.canais_sociais img {
    width: 25px;
}
.icons_wrap {
    display: flex;
}
.social_icons {
    width: 50px;
    height: 50px;
    background-color: var(--black);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--fast);
}
.social_icons:hover img {
    filter: invert();
}
.social_icons:hover {
    border: 1px solid var(--black);
    background-color: var(--white);
}
.input_email {
    padding: 16px 8px;
    color: var(--gray);
    background-color: var(--black);
    border: none;
    outline: none;
    width: 450px;
    height: 60px;
    cursor: pointer;
}
::placeholder {
    font-family: var(--ibmplex_regular);
    font-size: .8rem;
}
.footer_text img{
    width: 160px;
    margin-right: 4rem;
}
#button-top {
    background-image: url("../images/scroll-to-top-default.svg");
    background-repeat: no-repeat;
    z-index: 100;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    transition: var(--slow);
    cursor: pointer;
    border: none;
    text-decoration: none;
    background-color: transparent;
    display: none;
}
#button-top:hover {
    background-image: url("../images/scroll-to-top-hover.svg");
}
/* Hover  */
@media screen and (min-width: 768px) {
.shop-card .shop-link:hover {
    background-color: var(--hover);
}
.shop-card .shop-link:hover div {
    color: var(--primary);
    background-image: url('../images/external-link-pink.svg');
}
.shop-card:hover {
    transform: rotateX(7deg) translateY(-6px) scale(1.00);
}
}
@media screen and (max-width: 1500px) {
.header_container img {
width: 300px;
}
.depo_page .swiper-slide.swiper-slide-active .depo {
width: 100%;
}
.depo_page .swiper-slide .depo {
width: 87%;
}
}
@media screen and (max-width: 1051px) {
:root{
--title: 40px;
--text: 11px;
--depo: 11px;
--logos: 13px;
--footer: 12px;
--footer_title: 39px;
--margin_title: ;
--margin: 20px;
--margin_logos: 20px;
}
.container {
max-width: 100%;
margin: 0 auto;
}
h2 {
text-align: center;
margin-left: 8px !important;
margin-right: 8px !important;
}
.border {
margin: var(--margin);
padding: 0;
}
.home_page {
padding-top: 4rem;
}
.home_page h2 {
margin-bottom: var(--margin);
}
.home_page img {
width: 100%;
}
.home_page_wrap {
flex-direction: column;
}
.home_page_text {
margin: var(--margin);
}
.about_page {
flex-direction: column;
}
.about_text {
margin: var(--margin);
}
.about_page figure {
padding-top: 0;
display: flex;
flex-direction: column-reverse;
margin-bottom: 0;
}
figcaption {
margin-left: var(--margin);
margin-top: var(--margin);
}
.about_page h2 {
margin-top: 0;
}
.video_page {
margin-top: 0px;
}
.expo_page .video_play iframe {
height: 200px;
}
.video_page h2 {
margin: var(--margin);
margin-top: 30px;
}
.video-carousel .swiper-slide.swiper-slide-active .video {
width: 75%;
}
.video-carousel .swiper-slide {
width: 100% !important;
}
.video-carousel .swiper-button-next, .video-carousel .swiper-button-prev {
width: 14%;
top: 45px;
}
.depo {
padding: var(--margin);
}
.depo_page h2 {
margin: var(--margin);
margin-top: 30px;
} 
.depo p {
text-align: initial;
}
.depo_page .swiper-slide.swiper-slide-active .depo{
height: auto;
}
.depo_page .swiper-slide {
width: 58%;
}
.depo_page .swiper-slide .depo {
width: 100%;
}
.depo_page .swiper-button-next, .depo_page .swiper-button-prev {
width: 11%;
top: 37px;
}
.expo_page h2 {
margin: var(--margin);
margin-top: 30px;
}
.expo_page  .border {
padding: 0;
}
.shop-page h2 {
margin: var(--margin);
margin-top: 30px;
}
.shop-swiper {
margin-bottom: 80px;
}
.shop-page .shop-card .shop-link { 
padding: 20px 0px;
}
.shop-page .swiper-slide:first-child {
margin-left: 20px;
}
.shop-page .swiper-slide {
transition: var(--slow);
}
.shop-page .swiper-slide:not(.shop-page .swiper-slide-active) {
opacity: 50%;
}
.logo_page h4 {
margin: 0;
margin-top: 20px;
}
.logo_page img {
width: 84px;
}
.logo_wrap {
margin-left: var(--margin);
margin-right: var(--margin);
}
.logo_flex {
flex-direction: column;
}
.logos_patro {
flex-direction: row;
flex-wrap: wrap;
}
.logos_patro * {
width: 145px !important;
}
.logo_page .border {
padding: 0;
}
.footer_page {
padding: 0px 20px 0px 20px;
}
.footer_wrap {
flex-direction: column;
}
.footer_wrap h2 {
text-align: left;
margin-bottom: 10px;
}
.canais_sociais {
margin-bottom: 2rem;
}
.input_email {
width: 100%;
}
.footer_text{
flex-direction: column;
align-items: flex-start;
margin-bottom: 0;
}
.footer_text img {
margin: 0;
}
#button-top:hover {
background-image: url("../images/scroll-to-top-default.svg");
}
}
@media screen and (max-width: 390px){ 
:root {
--title: 30px;
--depo: 11px;
--footer_title: 20px;
}
.header_container img {
width: 225px;
}
header a img {
width: 70px;
}
.playpause {
    height: 30px;
}
.depo_page .swiper-slide {
width: 79%;
}
.canais_sociais img {
width: 15px;
}
.social_icons {
width: 24px;
height: 24px;
}
.twitter-icon img {
width: 32px !important;
}
.input_email {
height: 40px;
}
::placeholder {
font-size: var(--text);
}
}